


.header-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 /* margin:10px; */
   justify-content: space-between;
   background-color: gray;
}
   
.header-container>logo{
	justify-content:center;	


}
.header-container>.button>ul{
    display: flex;
    cursor: pointer;
  list-style-type:none;
 
}
.header-container>.button>ul>li{
 padding:5px;
}
 .card-container{
    border: gray solid 2px;
    margin:100px;
 }
.card-container>.card-header{
display: flex;
background-color: black ;
color:white;
padding:10px;
}
.card-container>.image{
    padding:50px;
}
.card-container >.card-footer{
    display:flex ;
background-color: black ;
color:white;
padding:10px;
}
