@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #eee;
  padding-top: 54px;
}

.page-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  z-index: 1000;
  border-bottom: 1px solid #dbdbdb;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container > .logo {
  font-family: "Cookie", cursive;
  font-weight: 500;
  font-size: 50px;
}

.header-container > .button > ul {
  display: flex;
  cursor: pointer;
  list-style-type: none;
}

.header-container > .button > ul > li {
  padding: 5px;
}

.center {
  justify-content: center;
  display: flex;
}

.card-container {
  background: #fff;
  border: 1px solid #f0e2e2dd;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 60px;
}

.card-container > .card-header {
  padding: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: large;
  color: #4d4d4f;
}

.card-container > .card-footer {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: light;
  font-size: small;
  color: #262626;
}

.btn {
  border: none;
  background: none;
  padding: 7px;
  cursor: pointer;
  color: grey;
}

.footer-btn > div:hover {
  color: #777;
}

.date {
  font-size: small;
  font-weight: lighter;
  padding: 10px;
  color: #777;
}